/*
!/.gitignore
!/*.md
!/LICENSE
!/CMS
/CMS/*
!/.github
!/.github/*
!/images
!/images/*
!/CMS/CMSModules
/CMS/CMSModules/*
!/CMS/CMSModules/Kentico.KenticoCloudPublishing
!/CMS/CMSModules/Kentico.KenticoCloudPublishing/*
!/KenticoCloudPublishing
!/KenticoCloudPublishing/*
/KenticoCloudPublishing/bin/*
/KenticoCloudPublishing/obj/*
